@model LoanViewModel

<h4>Skapa och lägg till en ny lånetagare</h4>

<div>
    @using (Html.BeginForm("CreateLoan", "Loan", FormMethod.Post))
    {
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Bekräfta ett nytt lån:</th>
        </tr>
        <tr>
            <td class="side-header">Lånetagare: </td>
            @{
                ViewBag.Title = "Lista";
                List<SelectListItem> burrowers = new List<SelectListItem>();
                foreach (var item in Model.AllBurrowers)
                {
                    burrowers.Add(new SelectListItem() { Text = item.LastName + ", " + item.FirstName });
                }
                burrowers.OrderBy(b => b.Text);
            }
            <td>@Html.DropDownList("Lånetagare", burrowers, "<Välj>")</td>

        </tr>

        <tr>
            @*<td>Bookexemplar:</td>
            @{
                ViewBag.Title = "Lista";
                List<SelectListItem> copies = new List<SelectListItem>();
                foreach (var item in Model.AllCopies)
                {
                    copies.Add(new SelectListItem() { Text = item. + ", " + item. });
                }
                copies.OrderBy(b => b.Text);
            }
            <td>@Html.DropDownList("Lånetagare", copies, "<Välj>")</td>*@
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    }
</div>