@model LoanCard

<div class="loan">
    <h1></h1>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="loan">
            @if (Model.LoanCards.Count > 0)
            {
                @foreach (LoanViewModel loanVM in Model.LoanCards)
                {
                    <div class="book-title">
                        <h5>@loanVM.BorrowedBook.Title</h5>
                    </div>

                    <div class="return-date">
                        <a>Återlämningsdatum: @loanVM.Loan.DateOfReturn.ToString("yyyy-MM-dd")</a>
                    </div>

                    <div class="borrow-date">
                        <a>Datum Lånad: @loanVM.Loan.DateOfLoan.ToString("yyyy-MM-dd")</a>
                    </div>

                    <div class="renewals">
                        <a>Återstående omlån: @loanVM.Loan.AmountOfLoanRenewals</a>
                    </div>
                    @if (DateTime.Compare(loanVM.Loan.DateOfReturn, DateTime.Now) < 0)
                    {
                        loanVM.BorrowedBook.Copies.FirstOrDefault(c => c.BookID == loanVM.BorrowedBook.BookID).BookStatus = Status.Late;
                        <p>FÖRSENAD</p>
                    }
                }
            }
            else
            {
                <div class="empty">
                    <p>Inga lånade böcker...</p>
                </div>
            }
        </div>
    </div>
</div>