@model BurrowerViewModel

<h2>Alla lånetagare</h2>
@foreach (var item in Model.Burrowers)
{
    <div class="user-info">
        <div class="user-name">
            <a asp-area="" asp-controller="Burrower" asp-action="ChosenBurrower" asp-route-id=@item.BurrowerID>
                <h5>@item.FirstName @item.LastName</h5>
            </a>
        </div>
        <div class="user-number">
            <span>Personnummer: </span>
            <span>@item.SecurityNumber</span>
        </div>
        <a class="fas fa-trash" asp-area="" asp-controller="Burrower" asp-action="DeleteBurrower" asp-route-id=@item.BurrowerID>Radera</a>
        <a class="fas fa-pencil" asp-area="" asp-controller="Burrower" asp-action="EditBurrower" asp-route-id=@item.BurrowerID>Ändra</a>
    </div>
}
