@model LoanViewModel

<div class="loan">
    <div class="col-sm-4 col-lg-4 col-md-4">
        @foreach (var item in Model.BurrowedBook)
        {
            <h3>@item.Title</h3>
        }
        @foreach (var item in Model.Loan)
        {
            <h3>@item.DateOfReturn</h3>
        }
    </div>
</div>
