@model LoanCard

<div class="loan">
    <h2>@</h2>
    <div class="col-sm-4 col-lg-4 col-md-4">
        @foreach (LoanViewModel loanvm in Model.LoanCards)
        {
            <div class="book-title">
                <h3>@loanvm.BurrowedBook.Title</h3>
            </div>

            <div class="return-date">
                <h3>@loanvm.Loan.DateOfReturn</h3>
            </div>
        }
    </div>
</div>
