@model Book

<h2 class="modal-header">Fiktiva Biblioteket</h2>

<div >
    <h3>Välkommen till det fiktiva biblioteket, byggt i ASP.NETCore 3.1!</h3>
    <img href="https://media.istockphoto.com/photos/bookshelves-in-the-library-with-old-books-3d-render-picture-id1180571288?k=20&m=1180571288&s=612x612&w=0&h=vnfqsavOBQguBwF21wxp5-rA9Gjh7kWlerzsQLMiVgI="
         alt="<bild på böcker>"/>
</div>