@model LibraryViewModel

<h2>Alla böcker</h2>

@foreach (var bookVM in Model.BookViewModels)
{
    <div>
        <div class="book-title">
            <a asp-area="" asp-controller="Book" asp-action="SingleBook" asp-route-id=@bookVM.Book.BookID>
                @bookVM.Book.Title
            </a>
        </div>
        <div class="author">
            @if (bookVM.Authors.Count == 0)
            {
                <p>FÖRFATTARE SAKNAS</p>
            }
            @foreach (var author in bookVM.Authors)
            {
                <p>@author.LastName, @author.FirstName </p>
            }
        </div>
    </div>
}