@model BookViewModel

<div class="container">
    <div>
        <h5>@Model.Book.Title</h5>
    </div>
    <div>
        @foreach (var author in Model.Authors)
        {
        <p>@author.LastName, @author.FirstName</p>
        }
    </div>
    <div>
        <p>Alla exemplar:</p>
    </div>
    <div>
        @foreach (var copy in Model.Book.Copies)
        {
            @*<span>
                @Model.Shelves.FirstOrDefault(s => s.ShelfID == copy.ShelfID).ShelfName
            </span>*@
            switch (copy.BookStatus)
            {
                case Status.Available:
                    <span>TILLGÄNGLIG</span>
                    break;
                case Status.Late:
                    <span>FÖRSENAD</span>
                    break;
                case Status.Gone:
                    <span>BORTA</span>
                    break;
                case Status.Burrowed:
                    <span>UTLÅNAD</span>
                    break;
                case Status.Reserved:
                    <span>RESERVERAD</span>
                    break;
                default:
                    break;
            }
        }
    </div>
</div>